body {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

h1,
.credits{
    background-color: black;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 8px;
}

h1 {
    font-family: 'Lucida Handwriting', 'Brush Script MT', cursive;
}

#recipe-list{
    background-color: rgb(255, 255, 255);
    color: red;
    margin: 0 auto;
    width: 50%;
    padding: 5px;
}

li{
    display: block;
    padding: 20px;
    border: 2px solid #000000;
    text-align: center;
    margin: 5px 0;
    background-color: hsl(0, 41%, 70%);
}

.recipe{
    color: black;
    font-weight: 800;
}

.credits{
    font-family: 'Courier New', 'Lucida Console', monospace;
}

.source-link{
    background-color: #00ffd9;
}